{% extends 'base.html.twig' %}
{% block title%} Liste des produits{% endblock %}
{% block body %}
{% if produits %}
<h4>Tous les produit</h4></br>
 <table id="articles" class="table table-striped">
 <thead>
 <tr>
 <th>Référence</th>
 <th>Nom </th>
 <th>Qte</th>
 <th>Actions</th>
 </tr>
 </thead>
 <tbody>
 {% for produit in produits %}
 <tr>
 <td>{{ produit.id }}</td>
  <td>{{ produit.nom }}</td>
    <td>{{ produit.qte }}</td>


 <td>
    <a href="/produit/{{ produit.id }}" class="btn btn-dark">Détails</a>
    <a href="/produit/edit/{{ produit.id }}" class="btn btn-dark">Modifier</a>
    <a href="/produit/delete/{{ produit.id }}" class="btn btn-danger" onclick="return confirm('Etes vous sûr de supprimer ce produit?');">Supprimer</a>
</td>

 </tr>
 {% endfor %}
 </tbody>
 </table>
     <a href="/bycategories" class="btn btn" style="color: white;background-color:#563D7C;">Résumé des catégories</a>
 {% else %}
 <p>Aucun produits</p>
 {% endif %}
{% endblock %}